.idea/workspace.xml
node_modules
npm-debug.log
*.suo
obj/
noa.csproj.user
build/*
bin/
src/*.js*
src/aggregations/*.js*
src/core/*.js*
src/util/*.js*
src/transformations/*.js*
src/types/*.js*
src/lang/*.js*
src/lang/transformations/*.js*
src/lang/aggregations/*.js*
